.grid {
    display: grid;
    grid-template-columns: repeat( calc( var(--gridCells) + var(--numbersSpacer)), 1fr);
    align-items: center;
    justify-items: center;

    height: 96vmin; /* 100% of smallest dimension - margin */
    margin: 2vmin;
    width: auto;
    aspect-ratio: 1 / 1;

    grid-area: a; /* For phone mode */
}

.cell {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    
    background-color: var(--boardColor);
    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    box-sizing: border-box; /* Border inside */

    box-shadow: 
      inset var(--gridBorders) var(--gridBorders) 0 0 var(--blackColor),                  /* NW & SE borders inside*/
      inset var(--inverseGridBorders) var(--inverseGridBorders) 0 0 var(--blackColor),
      0 0 0 var(--gridBorders) var(--blackColor);                        /* Outside borders to fix outsides and corners*/
}

.cell.disabled {
    opacity: 0;
}



/*  Marker pieces */

.marker {
    width: 80%;
    border-radius: 50%;
    box-shadow: none;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
    aspect-ratio: 1 / 1;
    height: auto;
    
}

.cell.black > .marker::before,
.cell.white > .marker::before,
.cell.black > .marker::after,
.cell.white > .marker::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: background-color 0.3s;
  box-shadow: -0.25svb 0.25svb 1svb rgba(0,0,0,0.2), 0 0 2svb rgba(0,0,0,0.2), inset 0.5svb -0.5svb 1svb rgba(0,0,0,0.3), inset -0.5svb 0.5svb 1svb rgba(0,0,0,0.1);
}

.cell.black > .marker::before,
.cell.white > .marker::before {
  background: radial-gradient(circle at 30% 30%, var(--blackColorLightened), var(--blackColor));
  transform: rotateY(0deg);
}

.cell.black > .marker::after,
.cell.white > .marker::after {
  background: radial-gradient(circle at 30% 30%, var(--whiteColor), var(--whiteColorDarkened));
  transform: rotateY(180deg);
}

.cell.black > .marker {
  transform: rotateY(0deg);
}

.cell.white > .marker {
  transform: rotateY(180deg);
}

.cell.cell.empty > .marker {
  transform: var(--highlightRotation);
}

#grid:not([unguided]) > .cell.empty.impossible > .marker {
    display: none;
}

#grid:not([unguided]) > .cell.empty.possible > .marker {
    box-shadow: 0px 0px 10px var(--highlightColor);
    opacity: 50%;
}

.cell.empty:hover > .marker {
    box-shadow: 0px 0px 10px var(--highlightColor);
    background-color: var(--highlightColor);
    opacity: 40%;
}

.cell.disabled > .marker {
    display: none;
}







/* Labels and indicators */

.label {
  justify-content: center;
  align-items: center;
  display: var(--numbersDisplay);
  opacity: 0.5;
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--bgColor);
}