


body {
    display: grid;
    grid-template-columns: calc( var(--cellSize) * 2 ) 1fr calc( var(--cellSize) * 2 );
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bgColor);
    padding: 0 50px 0 50px;
}





/* Info */

.sidepanel {
    width: 100%;
    height: calc( var(--cellSize) * 2 );
    display: grid;
    border: 1px solid var(--blackColor);
    border-radius: 10%;
    margin: 5%;
    padding: 20px;
    text-align: center;
    opacity: 25%;
}

.sidepanel:hover {
    opacity: 100%;
}

.bold {
    font-weight: bolder;
    text-decoration: underline;
}


#infopanel {
    opacity: 100%;
    border: none;
    justify-self: left;
}

#infopanel > h1 {
    opacity: 100%;
    border: none;
}

#infopanel > #scores {
    display: grid;
    grid-template-columns: 1fr 1fr 0;
}

#infopanel > #scores[hidden] > .hideable {
    opacity: 0;
    pointer-events: none;
}

#scores > .infospan {
    width: 100%;
    display: inline-block;
}

#scores > .infospan.right {
    text-align: end;
}

#scores > .infospan.left {
    text-align: start;
}

#scores > .infospan.left::before {
    content: ": ";
}

/* CONTROLS */

#controls.sidepanel {
    justify-self: right;
}

#controls > button {
    cursor: pointer;
}

