


body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: var(--bgColor);
    margin: 0;
}


@media only screen and (max-width: 1390px) {
    :root {
        --numbersDisplay: none !important;
        --numbersSpacer: 0 !important;
    }
    
	body {
        display: grid;
        grid-template-areas: "a a" "b c";
        width: 100vw;
        height: auto;
    }

}


/* Info */

.sidepanel {
    width: min(220px, 100%);
    aspect-ratio: 1 / 1;
    display: grid;
    border: 1px solid var(--blackColor);
    border-radius: 10%;
    padding: 20px;
    text-align: center;
    opacity: 25%;
}

.sidepanel:hover {
    opacity: 100%;
}

.bold {
    font-weight: bolder;
    text-decoration: underline;
}


#infopanel {
    opacity: 100%;
    border: none;
    grid-area: b;
}

#infopanel > h1 {
    opacity: 100%;
    border: none;
    font-size: 5svb;
}

#infopanel > #scores {
    display: grid;
    grid-template-columns: 1fr 1fr 0;
}

#infopanel > #scores[hidden] > .hideable {
    opacity: 0;
    pointer-events: none;
}

#scores > .infospan {
    width: 100%;
    display: inline-block;
    font-size: 4svb;
}

#scores > .infospan.right {
    text-align: end;
}

#scores > .infospan.left {
    text-align: start;
}

#scores > .infospan.left::before {
    content: ": ";
}

/* CONTROLS */

#controls {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    grid-area: c;
}

#controls > div {
    display: flex;
    gap: 2px;
}

#controls > .controlButton {
    cursor: pointer;
    border: #0005 1px solid;
    border-radius: 10px;
}


.debugitem.hidden {
    display: none !important;
}


#blackPieces {
    background: var(--blackColor);
    color: var(--whiteColor);

}

#whitePieces {
    background: var(--whiteColor);
    color: var(--blackColor);
}