


body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: var(--bgColor);
    margin: 0;
}


@media only screen and (max-width: 1390px) {
    :root {
        --numbersDisplay: none !important;
        --numbersSpacer: 0 !important;
    }
    
	body {
        display: grid;
        grid-template-areas: "a a" "b c";
        width: 100vw;
        height: auto;
    }

}


/* Info */

.sidepanel {
    width: min(220px, 100%);
    aspect-ratio: 1 / 1;
    display: grid;
    border: 1px solid var(--blackColor);
    border-radius: 10%;
    padding: 20px;
    text-align: center;
}


#infopanel {
    border: none;
    grid-area: b;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    gap: 1svb;
    justify-self: center;
}

#infopanel > h1 {
    border: none;
    font-size: 5svb;
    grid-column: span 2;
}

#infopanel[hidden] > .hideable {
    opacity: 0;
    pointer-events: none;
    display: none;
}

#infopanel > .infospan {
    width: 100%;
    display: inline-block;
    font-size: 3svb;
}

#infopanel[hidden] > .infospan {
    font-size: 4svb;
}

#infopanel > .infospan.right {
    text-align: end;
}

#infopanel > .marker {
    height: 6svb; 
    width: auto; 
    aspect-ratio: 1 / 1;
    margin: 1svb;
    border: 0.4svb solid black;
    
}

#infopanel > .marker.black {
    background: radial-gradient(circle at 30% 30%, var(--blackColorLightened), var(--blackColor));
    color: var(--whiteColor);
}

#infopanel > .marker.white {
    background: radial-gradient(circle at 30% 30%, var(--whiteColor), var(--whiteColorDarkened));
    color: var(--blackColor);
}

#infopanel > .marker.bold {
    box-shadow: 0 0 0 0.6svb var(--bgColor), 0 0 0 1svb var(--boardColor);
}



/* #infopanel > .marker.winner::before {
  content: '👑';
  position: absolute;
  top: -2.2svb;
  left: -0.9svb;
  transform: rotate(-26deg);
  font-size: 20px;
} */


html:not([endcounter='2']) > body > #infopanel > .marker > svg { /* No face when gaming */
  display: none;
}

html > body > #infopanel > .marker > svg { /* No face when gaming */
  pointer-events: none;
}

#infopanel > .marker > svg > path.mouth {
    display: none;
}

body > #infopanel > .marker.winner > svg > path.mouth.happy { 
  display: inline;
}

body > #infopanel > .marker.loser > svg > path.mouth.sad { 
  display: inline;
}

body > #infopanel > .marker.draw > svg > path.mouth.neutral { 
  display: inline;
}

#infopanel > .marker.winner {
    box-shadow: 0 0 0 0.6svb var(--bgColor), 0 0 0 1svb goldenrod;
}

#infopanel > .marker > svg.crown{
    display: none;
    position: absolute;
    top: -3.6svb;
    left: -1svb;
    height: 6svb;
    aspect-ratio: 1 / 1;
    width: auto;
    transform: rotate(-15deg);
    color: #daa520;
}

#infopanel > .marker.winner > svg.crown{
    display: inline;
}



#infopanel > .infospan.left {
    text-align: start;
}

#infopanel > .infospan.left::before {
    content: ": ";
}

/* CONTROLS */

#controls {
    grid-template-columns: 1fr 1fr auto;
    gap: 2px;
    grid-area: c;
    justify-self: center;
}

body[gameActive] #controls {
    opacity: 25%;
}

body[gameActive] #controls:hover {
    opacity: 100%;
}

#controls > .dualbuttons {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
}

#controls > button[highlight] {
    background-color: gold;
}

#controls > .controlButton {
    cursor: pointer;
    border: #0005 1px solid;
    border-radius: 10px;
    padding: 0;
    height: 100%;
    text-align: center;
}

#controls > select {
    overflow: hidden;
    max-width: 100%;
}

#controls > input {
    width: 100%;
    height: 100%;
    grid-row: span 5;
    writing-mode: sideways-lr;
}

.debugitem.hidden {
    display: none !important;
}

#controls .span2 {
    grid-column: span 2;
}


#blackPieces {
    background: var(--blackColor);
    color: var(--whiteColor);

}

#whitePieces {
    background: var(--whiteColor);
    color: var(--blackColor);
}